body {
  font-family: sans-serif;
}

#landing-page {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

#login-signup-form {
  margin-top: 15%;
}

#title-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
}
