body {
  font-family: sans-serif;
}

#landing-page {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

#login-signup-form {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
